html {
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

header {
    margin: auto;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));   
}

/* Search Bar */
input[type=search] {
    line-height: 30px;
    font-size: 20px;
    padding: 5px;  
    border-radius: 5px;
    border: 3px solid cadetblue;
    width: 40%;  
    transition: width 0.3s ease-in-out; 
   } 


/* Cards */

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem;
    background-color: white;
    border: solid 2px cadetblue;
    border-radius: 10px;
}

.card img {
    border-radius: 50%;
}

.card p {
    color: grey;
    margin: 0.5rem;
}

.card:hover {
    cursor: pointer;
}

/* Modal Window */

body {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
    min-height: 100vh;
}

.modal {
    position: fixed;
    width: 375px;
    margin: 15% auto auto;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}
       
.hidden {
    display: none;
}